.boot{
    font-size: 50px;
}
.head{
    margin: 50px 0px;
}
.metic{
    text-align: center;
    margin-bottom: 50px;
}
.link{
    text-decoration: none;
}
.img{
    width: 100px;
}
.skills{
    margin-bottom: 20px;
}
.job{
    text-align: center;
}
.extra{
    text-align: center;
}
.cj{
    margin-top: 50px;
}
.ext{
    margin-top: 50px;
}
.access{
    text-align: center;
    margin-top: 50px;
}